@import "tailwindcss";

@theme {
  --color-primary: #0F2747;
  --color-secondary: #D99A1E;
  --color-soft-gray: #F5F7FA;
  --color-dark-slate: #1F2937;
  --color-success-green: #16A34A;
  --color-warning-amber: #F59E0B;
  --color-error-red: #DC2626;
  --color-card-white: #FFFFFF;
  --color-secondary-gray: #64748B;
}