@import "tailwindcss";

:root {
  --background: #F5F7FA;
  --foreground: #1F2937;
  --primary: #0F2747;
  --secondary: #D99A1E;
  --success: #16A34A;
  --warning: #F59E0B;
  --error: #DC2626;
  --card: #FFFFFF;
  --secondary-text: #64748B;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  font-family: var(--font-sans), sans-serif;
  margin: 0;
  padding: 20px;
}